@using RecipeBox.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<div class="container">
<h3>Edit Recipe</h3>

<form action = "/editRecipe/@Model.GetId()" method = "post">
    <input name = "recipeId" type = "number" value = "@Model.GetId()" hidden>
    <label for = "ingredients">
    <label for = "name">Recipe Name</label>
    <input type = "text" name = "name" value = "@Model.GetName()"><br>
    <label for = "instructions">Recipe Instructions</label>
    <input type = "text" name = "instructions" value = "@Model.GetInstructions()"><br>
    <label for = "rating">Recipe Rating</label>
    <input type = "number" name = "rating" value = "@Model.GetRating()"><br>
    <button type = "submit">Edit Recipe</button>

</form><br>