@using RecipeBox.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<div class="container">
<h1>Recipe for @Model["recipe"].GetName()</h1>
<h4>Ingredients</h4>
<ul>
@foreach (Ingredient ingredient in @Model["ingredients"])
{
    <li>@ingredient.GetName()</li>
}
</ul>
</div>